*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
section{
    background-image: url('./garage.jpeg');
    height: 100vh;
    background-size:cover;
    width: 100%;
}

.container{
    text-align: center;
    padding-top: 200px;
}
.container h1{
    color: #fff;
    font-size: 45px;  
}
.container h2{
    color: #fff;
}
.container button{
    background-color: red;
    color: #fff;
    transition: 1s;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;

}
.container button:hover{
    background: white;
    color: red;
}

